* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html {
    background-color:chocolate;
}

header {
    display:block;
    background-color:#000;
    width:100vw;
    height:15vh;
    border:3px solid white;
}

header nav ul li {
    display:inline-block;
    height:2em;
    width:10em;
    padding:.5em;
    color:#8585c7;
}

body > main > section > div {
    display:block;
    width:100vw;
    height:100vh;
    margin:3em 0;
    border:none;
}

.section1 {
    background-color:rgb(245, 0, 0);
}

.section2 {
    background-color:rgb(245, 103, 38);

}

.section3 {
    background-color:rgb(249, 68, 255);

}

footer {
    display:block;
    background-color:rgb(214, 129, 1);
    height:35vh;
}